* {
  box-sizing: border-box;
}
body {
  font-family: Inter;
  margin: 0;
  padding: 0;
}
header {
  border-bottom: 1px solid #000000;
  padding: 20px 5px;
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  display: flex;

}
footer {
  border-top: 1px solid #000000;
}
main {
  margin: auto;
  min-width: 375px;
  max-width: 768px;
  padding: 32px;
}
h1 {
  font-family: Inter;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;

}

p {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;

}

h2 {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

}

ul.valores {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;

}
span {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

}
footer{
    padding: 20px 5px;
}
@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
