/* 2_layout/section-sm.css */

.section-sm {
  padding-block: 2rem;
}

@media (min-width: 40rem) {
  .section-sm {
    padding-block: 2.5rem;
  }
}

@media (min-width: 64rem) {
  .section-sm {
    padding-block: 3rem;
  }
}
