.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/portada.jpg") center / cover no-repeat;
  height: 48rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero__content {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 48rem;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 3.75rem;
  margin-bottom: 0;
}

.hero__description {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 48rem;
  padding-inline: 13%;
}

.hero__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-top: var(--space-4);
  padding: 0.5rem 1.5rem;

  background-color: #5b5bd6;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;

  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

@media (max-width: 23.5rem) {
  .hero__title {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}
