.quality {
  background-color: #00005506;
}

.quality__title {
  text-align: center;
  margin: 0;
}

.quality__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 3rem;
}

.quality__item {
  flex-basis: calc(25% - 2rem);
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 288px;
}

.quality__icon {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

.quality__item-title {
  font-size: 1rem;
  color: #1c2024;
  font-weight: 500;
}

.quality__item-text {
  font-size: 1rem;
  color: #60646c;
}

/* Responsivo quality */
@media (max-width: 48rem) {
  .quality__item {
    flex-basis: calc(50% - 2rem);
    max-width: 343px;
  }
}

@media (max-width: 23.5rem) {
  .quality__item {
    flex-basis: 100%;
    max-width: 343px;
  }
}
